@use "sass:color"

// Default font sizes for Bootstrap
$font-size-base:              1rem // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 2.5
$h2-font-size:                $font-size-base * 2
$h3-font-size:                $font-size-base * 1.75
$h4-font-size:                $font-size-base * 1.5
$h5-font-size:                $font-size-base * 1.25
$h6-font-size:                $font-size-base

// Custom colors
$blue: #20567a
$white: #f3f3f3

// Override bootstrap colors
:root
  --bs-body-color: var(--bs-gray-700)
  --blue: #20567a

// Extra fonts
@import url("/fonts/Montserrat/fonts/webfonts/Montserrat.css")

// :root:not([data-bs-theme=light])
//   --bs-body-color: red
//
// :root:not([data-bs-theme=dark])
//   --bs-body-color: blue
//

.navbar
  background-color: $blue
  .nav-link
    color: $white
    border-bottom: solid 2px transparent
    font-size: 1.2rem
  .nav-link:hover
    color: #ffffff
    border-bottom: solid 2px #ffffff
  i
    font-size: calc(0.7 * $font-size-base)
    vertical-align: middle

header.home
  height: 100vh

  display: flex
  flex-direction: column

  background-color: $blue
  color: $white

  .banner
    text-align: center

    flex: 1
    display: flex
    flex-direction: column

    h1
      font-size: calc(1.5 * $h1-font-size)
    h2
      font-size: calc(1.1 * $h2-font-size)

  .banner-title
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    padding-bottom: 8rem

  .downward-link
    text-align: center
    font-size: $h2-font-size
    color: $white
    opacity: 0.5
    padding-bottom: 1rem

  .downward-link:hover
    opacity: 1


main.home
  section
    padding-top: 2rem
    padding-bottom: 2rem

  h2
    text-align: center
    padding-bottom: 1.5rem
    font-size: calc(1.1 * $h2-font-size)

  h3
    padding-bottom: 0.7rem

  img.sponsor
    width: 100%
    height: auto

  p
    font-size: $h5-font-size

  section
    padding-top: 8rem

  .background-1
    background-color: $blue
    color: $white

  .padding-top-bottom
    padding-top: 4rem
    padding-bottom: 4rem

a
  text-decoration: none

footer
  padding-top: 3rem
  padding-bottom: 2rem
  font-size: calc(0.9 * $font-size-base)
  background-color: $blue
  color: $white

  a
    color: $white
    font-weight: bold

h1
  text-align: center

h1, h2, h3, h4, h5
  font-family: 'Montserrat', sans-serif

.montserrat
  font-family: 'Montserrat', sans-serif
