<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ get_url(path="bootstrap/css/bootstrap.min.css") }}" media="all" />
  <link rel="stylesheet" href="{{ get_url(path="fontawesome/css/all.min.css") }}" media="all" />
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}" media="all" />
  <title></title>
</head>

<body>

  {% block content %} {% endblock %}

<script src="{{ get_url(path="bootstrap/js/bootstrap.min.js") }}"></script>
<script src="{{ get_url(path="theme-switch.js") }}"></script>
</body>

</html>
