{% set home = get_section(path="_index.md") %}

<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-around align-center w-100">
        <a class="nav-link" href="{{ home.permalink | safe }}">Home</a>
        {% for link in config.extra.navlinks %}
          {% if not link.external %}
            <a class="nav-link" href="{{ config.base_url ~ link.url }}">{{ link.name }}</a>
          {% endif %}
        {% endfor %}
        {% for page in home.pages %}
          <a class="nav-link" href="{{ page.permalink | safe }}">{{ page.title }}</a>
        {% endfor %}
        {% for link in config.extra.navlinks %}
          {% if link.external %}
            <a class="nav-link" href="{{ link.url | safe }}">
              {{ link.name }}
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
